*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
}

.body{
     background-color:rgb(187, 131, 94);
 }

 .nav-bar{
    background-color: rgb(100, 100, 100);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    padding-left: 40%;
}

.nav-items{
    margin-left: 1px;
    padding: 1px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    padding: 1px;
    justify-content: space-between;
    list-style: none;
    color: rgb(0, 0, 0);
}

a:link {
    color: white;
    text-decoration: none;
    
  }

  a:hover {
    background-color:white;
  text-decoration: underline;
}

.logo{
    font-size: large;
}


.spacer{
    padding: 10px;
}

.spacer-small{
    padding: 1px;
}

.border-wall{
    padding: 0;
    border: 5px solid white;
}

.border-wall:hover {
    border:5px solid black;
}

.welcome-img{
    display: flex;
    flex-direction: row;
    padding: 2px;
    align-items: center;
    background-color: white;
}

h1:hover {
    background-color: rgb(137, 224, 235);
}

.my-bio{
    color:white;
    background-color:rgb(100,100,100);
}

.my-bio:hover{
    color:black;
    background-color:white;
}

.base-photo{
    max-width: 650px;
    max-height: 650px;
    border-bottom: 15px solid rgb(156, 156, 156);
}

.base-photo-two{
    max-width: 650px;
    max-height: 650px;
    border-bottom: 15px solid rgb(156, 156, 156);
}

.base-photo-two:hover {
    padding: 60px;
    border-right: 5px solid white;
    border-left: 5px solid white;
}

.base-photo:hover {
    padding: 60px;
    border-right: 5px solid white;
    border-left: 5px solid white;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.projects:hover{
    padding: 15px;
    background-color: rgb(205, 255, 243);
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}


.project-photo{
    height: 50%;
    width: 50%;
}

.contact-me{
    background: none;
    border: none;
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.Instagram-btn{
    border: none;
    background: none;
    background-color: orange;
}
